.footer {
    background-color:#06080C;
    padding: 0px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family:"NeueMachinaLight";
    
  }
  
  .footer-container {
    padding: 20px 0px 10px 0px;
    width: 100%;
    height: 100%;
    background: rgba(52, 52, 52, 0.281);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-top: 1px solid #ffffff1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
    
  }
  
  .footer-info {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
  
    
  }
  
  .footer-info p {
    color: #ffffff;
    margin: 0 15px 5px;
    font-size: 13px;
    transition: color 0.3s ease;
    font-family: "NeueMachinaLight";
    text-align: start;
    

  }
  
  .footer-info p:hover {
    color: #ffffff;
    filter: drop-shadow(0 0 10px #ffffff51);
  }
  .copy{
    
    display: flex;
    align-items: center;
   
    
  } 

